<main class="container-fluid position-relative py-4">
  <div class="row mb-5">
    <div class="col-12">
      <h3>Movies</h3>
      <hr />
      @if (watchlistService.loadingMoviesSubject | async) {
        <div class="mt-5">
          <app-loading></app-loading>
        </div>
      } @else {
        @if (watchedMovies.length > 0) {
          <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 row-cols-xl-8 row-cols-xxl-10 g-1">
            @for (movieWrapper of watchedMovies; track movieWrapper.movie.id) {
              <div class="col">
                <app-movie
                  [userId]="userProfile.id"
                  [movie]="movieWrapper.movie"
                  [inWatchlist]="true"
                  [watchlistId]="movieWrapper.movie.id"></app-movie>
              </div>
            }
          </div>
        } @else {
          <div class="text-center text-muted mt-4">
            <h6>No movies added to watchlist</h6>
          </div>
        }
      }
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <h3>TV Shows</h3>
      <hr />
      @if (watchlistService.loadingShowsSubject | async) {
        <div class="mt-5">
          <app-loading></app-loading>
        </div>
      } @else {
        @if (watchedShows.length > 0) {
          <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 row-cols-xl-8 row-cols-xxl-10 g-1">
            @for (showWrapper of watchedShows; track showWrapper.show.id) {
              <div class="col">
                <app-movie
                  [userId]="userProfile.id"
                  [movie]="showWrapper.show"
                  [inWatchlist]="true"
                  [watchlistId]="showWrapper.show.id"></app-movie>
              </div>
            }
          </div>
        } @else {
          <div class="text-center text-muted mt-4">
            <h6>No TV shows added to watchlist</h6>
          </div>
        }
      }
    </div>
  </div>
</main>
