<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h3>CinePik</h3>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="search"
            routerLinkActive="active"
            >Search</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="watchlist"
            routerLinkActive="active"
            >Watchlist</a
          >
        </li>
      </ul>
      <div class="flex-grow-1"></div>

      <ul class="navbar-nav">
        <li ngbDropdown display="dynamic" placement="bottom-end">
          <a
            class="nav-link"
            tabindex="0"
            ngbDropdownToggle
            id="profileDropdown"
            role="button">
            {{ keycloak.getUsername() }}
          </a>
          <div
            ngbDropdownMenu
            aria-labelledby="profileDropdown"
            class="dropdown-menu">
            <a ngbDropdownItem href="#" (click)="keycloak.logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-toasts-container
  aria-live="polite"
  aria-atomic="true"></app-toasts-container>

<router-outlet></router-outlet>
